@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
font-family: "Roboto Condensed", sans-serif;
font-optical-sizing: auto;
overflow: hidden;
box-sizing: border-box;
}
body{
width: 100%;
height: 100vh;
background: url(/Images/body-bg.jpg) no-repeat center;
background-size: cover;
}

/* -------------  Nav Bar ------------------*/
header{
width: 99.1%;
height: 110px;

margin: 2px;

}
.navbar{
width: 100%;
height: 100px;
position: relative;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.logo{
flex-basis: 20%;
height: 90px;
}
.logo>h1{
color: gray;
font-weight: 600;
font-size: 50px;
text-shadow: 1px 0px 1px black;
margin: 10px 0 10px 20px;
}
.logo>h1>span{
color: rgb(32, 87, 32);
}
.nav-links{
flex-basis: 55%;

height: 90px;
display: flex;
justify-content: center;
align-items: center;
}
.nav-links>li{
list-style: none;
}
.nav-links>li>a{
text-decoration: none;
color: gray;
font-size: 28px;
margin:0 15px ;
font-weight: 600;
}
.nav-btn{
flex-basis: 15%;
height: 90px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}
.btn-1{
border: 2px solid transparent;
border-radius:20px ;
text-shadow: 1px 1px 12px rgb(61, 57, 57);
color:  rgb(32, 87, 32);
padding: 10px;
font-size: 35px;
transition: 1s;
cursor: pointer;
}
.btn-1:hover{
border: 2px solid rgb(32, 87, 32);
}
/*--------------------Home-----------------*/
.home{
width: 99%;

margin: 2px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.home-content{
flex-basis: 50%;
height: 96%;
margin: 2px;
padding: 60px;
}
.home-content>h1{
color: rgb(20, 18, 18);
font-size: 55px;
font-weight: 500;
}
.home-content>h3{
color: rgb(71, 69, 69);
font-size: 40px;
}

.btn-2{ 
color:  rgb(32, 87, 32);
border: 2px solid rgb(32, 87, 32);
width: 240px;
border-radius: 3px;
padding: 10px;
font-size: 30px;
transition: 1s;
cursor: pointer;
}
.btn-2:hover{
background: rgb(32, 87, 32);
color: #F3F3F5;
}
.doctor-registrationform{
    flex-basis: 45%;
    height: 96%;
  
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.registration-form{
    width: 300px;
    height: 500px;
}
.registration-form>form{
    border: 1px solid #1281c2;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding: 20px;
    background-color: #1281c2;
}
.registration-form>form>h1{
font-size: 22px;
color: white;
}
.registration-form>form>h5{
    font-size: 18px;
    font-weight: normal;
}
.registration-form>form>label{
    color: white;
}
.form-btn{
  
    width: 100px;
    font-size: 20px;
    color: #F3F3F5;
    background: rgb(32, 87, 32);
    border: 1px solid  rgb(32, 87, 32);
    font-weight: 400;
    padding: 0 10px;
    border-radius:10px ;
    transition: 1s;
}
.form-btn:hover{
    background: transparent;
    color:  rgb(32, 87, 32);

}

            /* ResponsiveNEss */
@media (max-width:700px){
/* ---------------navbar -------------------*/
.nav-links>li{
display: none;

}
.logo{
flex-basis: 40%;
}
.nav-links{
flex-basis: 0;
}
.nav-btn{
flex-basis: 30%;
}
}